<div class="container">
    {{#projects}}
        <div class="item">
            <a href="{{directory}}"><img
                    src="/{{directory}}/screenshot.png"
                /></a>
            <a href="{{directory}}">{{name}}</a>
        </div>
    {{/projects}}
</div>