body {
    background-color: azure;
}

#parent {
    height: 200px;
    width: 200px;
    background-color: black;
    border: solid 3px black;
    position: relative;
}

#child {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: dotted 1px red;
    margin-top: 50px;
    margin-left: 50px;
}