<div class="item description">
    <p>{{currproject.description}}<br /></p>
    <p><a class="clickdescription" href="../{{currproject.directory}}">CLICK</a>
        to the image to go to the project!!</p>
</div>