body {
    background-color: lightsteelblue;
}

footer {
    font-size: small;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: burlywood;
    text-shadow: 2px 0 0 chocolate, -2px 0 0 chocolate, 0 2px 0 chocolate,
        0 -2px 0 chocolate, 1px 1px chocolate, -1px -1px 0 chocolate,
        1px -1px 0 chocolate, -1px 1px 0 chocolate;
}

a {
    display: block;
    padding-right: 48px;
    padding-left: 48px;
    text-decoration: none;
    font-size: x-large;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: chocolate;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

img {
    border: solid 5px beige;
    border-radius: 20%;
}
.imghome {
    display: block;
    height: 200px;
    width: 300px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 20px;
}
.item {
    margin: 20px;
    justify-self: center;
    text-align: center;
}

#menu2 {
    background-color: burlywood;
    /* position: fixed; */
    /* height: 100%;
    width: 20%; */
    /* right: 0; */
    display: flex;
    color: chocolate;
}

.img-currproject {
    height: 500px;
    width: 700;
    margin-left: 23%;
}

.menu-link {
    color: chocolate;
    text-shadow: chocolate;
}

#menu2 {
    background-color: lightsteelblue;
    display: flex;
    color: chocolate;
    align-items: center;
}

.img-currproject {
    height: 500px;
    width: auto;
    margin-left: 25%;
}

.menu-link {
    color: chocolate;
    text-shadow: chocolate;
}

.description {
    color: rgb(51, 26, 5);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 50px 0 50px;
    /* line-height: 50px; */
}

.clickdescription {
    display: inline-block;
    padding-right: 20px;
}

.highlighted {
    background-color: burlywood;
}
